[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rprojtree"]
	path = rprojtree
	url = https://github.com/miguel-conde/rprojtree
